.container__section1 {
    width: 100%;
    height: 75vh;
    float: left;
    margin-top: 15%;
}

.container__ethics {
    width: 45%;
    margin: 5%;
    margin-top: 10%;
}

.ethics__title {
    font-family: 'din_alternate_mediumregular';
    font-size: 40px;
}

.ethics__description {
    font-family: 'din_alternateregular';
    font-size: 18px;
    margin-top: 2vh;
    line-height: 23px;
}
