.header {
    float: left;
    width: 30vw;
    height: 92vh;
    margin-top: 6vh;
    padding: 1vh 5vw;

}

.header__title {
    font-size: 75px;
    width: 50vw;
    float: left;
    margin-top: 22vh;
    color: #0D263A;
}

.header__description {
    width: 100%;
    font-size: 30px;
    color: #777;
    margin-top: 3vh;
    float: left;
    margin-right: 40%;
    line-height: 35px;
}

.header__button {
    width: 80%;
    color: white;
    background-color: #0D263A;
    text-align: center;
    padding: 2vh 2vw;
    font-size: 30px;
    height: 3vh;
    float: left;
    margin-top: 5vh;
}

.header__button:hover {
    color: #ccc;
    background-color: #06121c;
    cursor: pointer;
}


.header__photo {
    width: 55vw;
    margin-top: 30vh;
}
