.popUp {
    width: 70vw;
    height: 70vh;
    background-color: white;
    position: fixed;
    z-index: 1001;
    margin: 10vh 10vw;
    border-radius: 5px;
    border: #3F98D2 solid 1px;
    padding: 5vh 5vw
}
#popUp__cup {
    visibility: hidden;
}
#popUp__exit {
    width: 5vw;
    height: 5vw;
    background-color: black;
    float: right;
}

.popUp__title {
    color: #3F98D2;
    font-size: 30px;
    margin-top: 25vh;
}

.popUp__description {
    font-size: 18px;
    width: 50%;
    float: left;
    margin-top: 5vh;

}

#popUp__img {
    width: 30%;
    margin: 10%;
    margin-top: 20vh;
    float: left;
}

.popUp__wrapper {
    width: 50%;
}

.popUp__learnMore {
    float: left;
    text-align: center;
    border-radius: 100px;
    margin: 0 34% 0 34%;
    background-color: #3F98D2;
    color: #fff;
    font-size: 30px;
    padding: 1%;
    width: 30%;
}

.popUp__learnMore:hover {
    background-color: #296b96;
    cursor: pointer;
}

.popUp__learnMore:active {
    background-color: #1d5071;
    cursor: pointer;
}
