@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PP Neue World Sm Extd';
	src: url('PPNeueWorld-SemiExtendedUltralight.woff2') format('woff2'),
		url('PPNeueWorld-SemiExtendedUltralight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'PP Neue Montreal', sans-serif;
}

.buttonWithArrow {
	border-radius: 100px;
	background-color: #000000;
	border: none;
	color: #fff;
	text-align: center;

	font-size: 14px;

	padding: 8px 16px;

	transition: all 0.5s;
	cursor: pointer;

	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonWithArrow:after {
	content: '→';
	position: absolute;
	opacity: 0;
	top: 8px;
	left: -8px;
	transition: 0.5s;
}

.buttonWithArrow:hover {
	padding-left: 30px;
	padding-right: 8px;
}

.buttonWithArrow:hover:after {
	opacity: 1;
	left: 8px;
}

.displayFont {
	font-family: 'PP Neue World Sm Extd', sans-serif;
}

@layer components {
	.h1 {
		@apply text-5xl md:text-6xl;
	}

	.h2 {
		@apply font-medium text-xl md:text-5xl;
	}

	.navlink {
		@apply text-base hover:bg-gray-100 rounded-full px-2 py-1;
	}

	.page {
		@apply max-w-screen-2xl mx-auto;
	}

	.section {
		@apply p-4;
	}

	.body {
		@apply bg-white dark:bg-black text-black dark:text-white;
	}
}

.workCard {
	width: 33.33%;
}

.workCardImg {
	width: 100%;
	height: auto;
	/* height: calc(33.33vw - 32px);
	max-height: 300px; */
}

.lightBoxImg {
	width: auto;
	max-height: calc(100vh - 48px);
	object-fit: contain;
}

.imgHeight {
}

.gifContainer {
	@apply p-8 lg:p-16 flex items-center justify-center box-border;
	max-height: calc(100vh - 8rem);
}

.gifContainer img {
	height: 100%;
	width: auto;
}

.pink {
	background-color: #f5bffa;
}

.blue {
	background-color: #bfdefc;
}

.purple {
	background-color: #e8c0fe;
}
